:root {
  --color-accent: #d3221e;
  --color-primary: #0d0d0d;
  --color-secondary: #1d1d1d;
  --color-shadow: #4c5d5a;
  --text-primary: #fcf4f4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Topography */
html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 2.4rem;
  color: var(--color-primary);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
a:hover {
  color: var(--color-accent);
}

/* Buttons  */
.btn {
  padding: 1rem 1.8rem;
  color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}

.btn--solid {
    background: #fff;
    color: var(--color-primary);
}

.btn--small {
  padding: 0.5rem 1.8rem;
  border-radius: 999px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: border 0.3s;
}

.btn--small:hover {
  border: 1px solid var(--color-accent);
}
