:root {
    --color-accent: #d3221e;
    --color-primary: #0d0d0d;
    --color-secondary: #1d1d1d;
    --color-shadow: #4c5d5a;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

/* Topography */
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 2.4rem;
    color: var(--color-primary);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 2rem;
}


h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
a:hover {
    color: var(--color-accent);
}
